* {
  margin: 0;
}

.Logo {
  margin-top: 3%;
}

.MainSection {
  background-image: url("../img/frame1-bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.MainText {
  padding-top: 10%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.MainIcon {
  color: #6200ee;
  margin-top: 15%;
  font-size: 3px;
}

.MainTitle {
  margin-top: 2%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.015em;
  text-decoration-line: underline;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Buttons {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.Button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: "Roboto";
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.MainFooter {
  margin-bottom: 2%;
}

@media screen and (max-width: 480px) {
  .MainHearts {
    padding-top: 50%;
  }
}

@media (min-width: 481px) {
  .MainHearts {
    padding-top: 0;
  }
}

button {
  position: relative;
  border: none;
  transition: 0.4s ease-in;
  z-index: 1;
}

button::before,
button::after {
  position: absolute;
  content: " ";
  z-index: -1;
}

.btn-3:hover {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
    0 0 200px #ffffff;
}
