<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.getElementsByTagName("html")[0].className += " js";
    </script>
    <link rel="stylesheet" href="../style/about.css" />
    <link rel="stylesheet" href="../style/nav.css" />
    <title>About Us and FAQs</title>
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="register.html">Login</a></li>
      </ul>
    </nav>
    <section
      class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg"
    >
      <ul class="cd-faq__categories">
        <li><a class="cd-faq__category truncate" href="#aboutus">About Us</a></li>
        <li><a class="cd-faq__category truncate" href="#faq">FAQs</a></li>
        <li><a class="cd-faq__category truncate" href="#solutions">Solutions</a></li>
        <li><a class="cd-faq__category truncate" href="#building">What are we building?</a></li>
      </ul>
      <div class="cd-faq__items">
        <ul id="aboutus" class="cd-faq__group">
          <li class="cd-faq__title"><h2>About Us</h2></li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"><span>Who are we?</span></a>
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  MindField is essentially an idea conceptualized by three unapologetically passionate engineering
                  students sitting in their dormitories with a hope of potentially creating an impact on society.
                  However, taking an idea from ideation to a minimum viable product requires necessary interaction with
                  the potential customer to understand there needs which will pivot us in right direction. This process
                  of design thinking is both new and unexplored to us.
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>What is our aim?</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  The idea behind MindField revolves around three central themes:
                  <ol>
                    <li>To provide an environment  where our MindHeroes can discover and interact with each other, a
                       platform where their differences are celebrated rather than criticized or sympathized, a
                        community which works to break the stigma associated with Mental health disorders.
                    </li>
                    <li>To develop a platform where an overall diagnosis of various mental disorder and neurodevelopment
                       disorder can be provided at an affordable price to the user, designed in collaboration with
                       industry specialist. At the same time connect them with specialized counsellors.
                    </li>
                    <li>To provide a holistic curriculum designed for various mental disorder, learning disability and
                       neurodevelopment disorder. With lectures, exercises, interactive games and many more.</li>
                  </ol>
                  <strong>Click<a target="_blank" href="https://docs.google.com/presentation/d/1fVujgGlnR2JpAAKRHm4T1E-cpisoM7m5/edit?usp=sharing&ouid=108468068996701287866&rtpof=true&sd=true">
                    here</a> to check our Power Point Presentation</strong>
                </p>
              </div>
            </div>
          </li>
        </ul>
        <ul id="faq" class="cd-faq__group">
          <li class="cd-faq__title"><h2>FAQs</h2></li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>What is mental health?</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  Mental health is the overall wellness of how you think,
                  regulate your feelings, and behave. Sometimes people can
                  experience a significant disturbance in this mental
                  functioning. A mental disorder may be present when patterns or
                  change in thinking, feeling, or behaving cause distress or
                  disrupt a person's ability to function. A mental health
                  disorder may affect how well you:
                  <ul>
                    <li>Maintain personal or family relationships</li>
                    <li>Function in social settings</li>
                    <li>Perform at work or school</li>
                    <li>Learn at a level expected for your age and intelligence</li>
                    <li>Participate in other important activities</li>
                  </ul>
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>How are mental health disorders defined?</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  The Diagnostic and Statistical Manual of Mental Disorders (DSM) is a guide
                  published by the American Psychiatric Association that explains the signs
                  and symptoms of several hundred mental health conditions, including anxiety,
                   depression, eating disorders, post-traumatic stress disorder and
                   schizophrenia.<br><br>The DSM provides criteria for making a diagnosis based on
                   the nature, duration and impact of signs and symptoms. It also describes the
                   typical course of the disorder, risk factors and common co-existing conditions.
                   <br><br>Another commonly used diagnostic guideline is the International
                   Classification of Diseases (ICD) from the World Health Organization.
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>How are mental health disorders diagnosed?</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  A diagnosis of a mental health condition may be made by a psychiatrist,
                  psychologist, clinical social worker, or other mental health professional.
                  A medical professional determines a diagnosis by interviewing you about
                  your history of symptoms. Sometimes a doctor will require a couple of
                  medical tests to rule out possible physical ailments, but we cannot
                  evaluate mental health itself through blood tests or other biometric data.
                  Instead, they consider numerous factors described below.
                  <ul>
                    <li>A medical history of physical illness or mental health disorders in you or in your family</li>
                    <li>A complete physical to identify or rule out a condition that may be causing symptoms</li>
                    <li>Questions about your current concerns or why you're seeking help</li>
                    <li>Questions about how recent events or changes in your life — trauma, relationships, work,
                      death of a friend or relative — have affected how you think, feel, or behave</li>
                    <li>Questionnaires or other formal tests that ask for your feedback on how you think,
                      feel, or behave in typical situations</li>
                    <li>Questions about past and current alcohol and drug use</li>
                    <li>A history of trauma, abuse, family crises or other major life events</li>
                    <li>Questions about past or current thoughts about violence against yourself or others</li>
                    <li>Questionnaires or interviews completed by someone who knows you well, such as a parent or spouse</li>
                  </ul>
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>Why should we be worried?</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  <ol>
                    <li>In a given year:</li>
                    <ul>
                      <li>Nearly one in five (19%) U.S. adults experience some form of mental illness.</li>
                      <li>One in 24 (4.1%) has a serious mental illness.</li>
                      <li>One in 12 (8.5%) has a diagnosable substance use disorder.</li>
                    </ul>
                    <li>Depression is one of the leading causes of disability. Suicide is the fourth leading cause of death among 15-29 year-olds.</li>
                    <li>Despite progress in some countries, people with mental health conditions often experience severe human rights violations, discrimination, and stigma.</li>
                    <li>WHO estimates that the burden of mental health problems in India is 2443 disability-adjusted life years (DALYs) per 100 00 population; the age-adjusted suicide rate per 100 000 population is 21.1. The economic loss due to mental health conditions, between 2012-2030, is estimated at USD 1.03 trillion.</li>
                    <li>According to an estimate by the World Health Organization (WHO), mental illness makes about 15% of total disease conditions around the world. </li>
                    <li>The same estimates suggests that India has one of the largest populations affected from mental illness. WHO labelled India as “World’s Most Depressing Country”.</li>
                    <li>It is estimated that between 1990 to 2017, one in seven people in India suffered from mental illness ranging from depression, anxiety to severe conditions such as schizophrenia according to a report.</li>
                  </ol>
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>Why did this problem occur in India?</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  <ul>
                    <li>The first and foremost reason for India to lose its mental health is lack of awareness and sensitivity about the issue.</li>
                    <li>	There is a big stigma around people suffering from any mental health issue.</li>
                    <li>They are often called as “Lunatic” or “psychotic” by the society. This leads to vicious cycle of shame, suffering and isolation of patients.</li>
                    <li>WHO states that in India, (per 100,000 population) there are psychiatrists (0.3), nurses (0.12), psychologists (0.07) and social workers (0.07), while the desirable number is anything above 3 psychiatrists and psychologists per 100,000 population.</li>
                  </ul>
                </p>
              </div>
            </div>
          </li>
        </ul>
        <ul id="solutions" class="cd-faq__group">
          <li class="cd-faq__title"><h2>Solutions</h2></li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>BetterHelp (App)</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  A paid service that matches users with counsellors who specialize in their areas of concern. After
                  answering a few questions about your mental health needs, the app will link you to a qualified and
                  licensed counsellor. You can even specify preferences for counsellors, such as gender and age,
                  so that you're matched with someone you're comfortable with. <br>
                  Its benefits include adaptability to change counsellor if not satisfied and to choose a prefer
                  communication type (text, video, audio). <br>
                  The app requires a weekly subscription fee, ranging from $40 to $70. The exact price is determined by
                  numerous factors, such as your whether you receive a low income or if you have a disability.

                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>MindShift CBRT (App)</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  MindShift CBT is a completely free mental health app from the Anxiety Canada Association. It uses a
                  cognitive behavioural therapy (CBT) approach to help you cope with anxiety symptoms. <br>
                  The app includes a variety of tools and the ability to monitor your progress over time. These tools
                   include mood tracking, belief experiments, coping cards, and more. You can also set goals for
                   yourself, such as expanding your comfort zone and tackling a challenge.
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>MoodPath (App)</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  If you're just getting started on your journey of coping with depression, Moodpath is a useful tool
                  that offers insight and self-monitoring tools. The app asks you questions about your mood and thought
                   patterns and delivers an assessment every two weeks. In turn, your doctor or therapist can then use
                    these assessments to help you decide on the right course of treatment. This tracking can also help
                     you figure out potential triggers and understand patterns that emerge over time. <br>
                    The app also includes a variety of free courses that help you understand depression, its causes, and
                     how it affects the body and thought patterns over time.
                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>Apps.Autism360.ai </span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  It is a one-step solution for diagnosis of autism, in young kids and teens also providing necessary
                  consultancy for the same. <br>
                  This app also offers guided courses to improve and track your progress for the same. The learning
                  course are based on efficient use of CBT.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <ul id="building" class="cd-faq__group">
          <li class="cd-faq__title"><h2>What are we building?</h2></li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>MindField.Buzz</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  It is a one stop destination for finding your Mind Buddies. <br>
                  It is an interactive social media community app which allows common people,
                  doctors/psychologist/psychiatrists, and other stake holders like researchers to interact and
                  collaborate together online.<br>
                  Common people, doctors and other stack holders will be divided into three categories for better
                  communications and collaborations.<br>
                  Each community member can interact with other community members normally like any other social media
                   app or can engage in a private line conversation.<br>
                  These categories enhance the ability to create small, yet diverse and more active communities as
                  compared to larger communities like Facebook pages etc.<br>
                  Users remain free to create their own smaller communities across these three broad communities.<br>
                  MindField. Buzz is designed with the purpose that using community building, awareness on mental
                  health can be spread across various strata of society.

                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>MindField.Care</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  It is a service which aims to connect users with counsellors who specialize in different area of
                  concern, a questionnaire is designed with the help of expert psychologist/doctors about user mental
                  health conditions they are connected with qualified counsellors.<br>
                  This app will initially focus on areas like depression, PTSD, anxiety, schizophrenia and other
                  learning and neurodevelopment disorder like dyslexia, autism, ADHD, dyscalculia, dysgraphia.<br>
                  User will have to answer a basic questionnaire individually designed for the above mentioned disorder
                  which provides a basic diagnosis for the user then a option is provided to  connect to a specialized
                  consultant and continue there diagnosis further.<br>
                  The user is then connected to multiple different communities based on our AI algorithm and user
                  interests on <strong>MindField.Buzz</strong>.

                </p>
              </div>
            </div>
          </li>
          <li class="cd-faq__item">
            <a class="cd-faq__trigger" href="#0"
              ><span>MindField.Learn</span></a
            >
            <div class="cd-faq__content">
              <div class="text-component">
                <p>
                  It is a paid service which provides users with a holistic and sophisticated curriculum/course designed
                   with the help on industry specialized doctors on the above mentioned disorders.<br>
                   App provides users with option to set their own timelines, learn at there own pace, monitor their
                   progress which is supervised by an individual consultant assigned to you.<br>
                   User can also share their progress with their MindField Buddies on MindField. Buzz app.<br>
                   <div class="FootNote">
                    <p><center>
                      All of the three solution <strong>MindField.Buzz</strong>, <strong>MindField.Care</strong>,
                      <strong>MindField.Learn</strong> together provides a holistic solution for your Mental health and
                      is what sets us apart from the existing solutions in the market.
                    </center></p>
                   </div>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a href="#0" class="cd-faq__close-panel text-replace">Close</a>
      <div class="cd-faq__overlay" aria-hidden="true"></div>
    </section>
    <script src="../js/util.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
