<html>
  <head>
    <title>Account Selection</title>
    <link rel="stylesheet" href="../style/accountType.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="AccountSelect">
      <p class="AccountHeader">Choose an account type.</p>
      <form action="register.html">
        <input type="checkbox" id="cb-doctor" />
        <label for="cb-doctor">
          <figure>
            <img src="../img/doctor.png" />
            <figcaption class="Caption"><center>Doctor</center></figcaption>
          </figure>
        </label>
        <input type="checkbox" id="cb-patient" />
        <label for="cb-patient">
          <figure>
            <img src="../img/patient.png" />
            <figcaption class="Caption"><center>Patient</center></figcaption>
          </figure>
        </label>
      </form>
    </section>
  </body>
</html>
