<html>
  <head>
    <title>Account Selection</title>
    <link rel="stylesheet" href="../style/accountType.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style/nav.css" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="register.html">Login</a></li>
      </ul>
    </nav>
    <section class="AccountSelect col-xs-12 col-md-12">
      <center><p class="AccountHeader">Choose an account type.</p></center>
      <form action="register.html">
        <input type="checkbox" id="cb-doctor" />
        <label for="cb-doctor">
          <figure>
            <img src="../img/doctor.png" />
            <figcaption class="Caption"><center>Doctor</center></figcaption>
          </figure>
        </label>
        <input type="checkbox" id="cb-patient" />
        <label for="cb-patient">
          <figure>
            <img src="../img/patient.png" />
            <figcaption class="Caption"><center>Patient</center></figcaption>
          </figure>
        </label>
        <input type="checkbox" id="cb-researcher" />
        <label for="cb-researcher">
          <figure>
            <img src="../img/researcher.png" />
            <figcaption class="Caption"><center>Researcher</center></figcaption>
          </figure>
        </label>
        <center>
          <input type="submit" class="FormSubmit" />
        </center>
      </form>
    </section>
  </body>
</html>
